@charset "UTF-8";
/*
 * Все паршалы импортировать в этот файл
 */
body {
  margin: 0px;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.08em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0 0;
}

button:focus {
  outline: none;
}

.main-container {
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    width: 768px;
    padding: 0 75px;
  }
}

@media (min-width: 1024px) {
  .main-container {
    width: 1024px;
    padding: 0 71px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.is-hidden {
  display: none;
}

.loader {
  position: fixed;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.loader.is-hiden {
  display: none;
}

.inner {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  -webkit-animation: rotate-one 1s linear infinite;
          animation: rotate-one 1s linear infinite;
  border-bottom: 7px solid #a8280b;
}

.inner.two {
  right: 0%;
  top: 0%;
  -webkit-animation: rotate-two 1s linear infinite;
          animation: rotate-two 1s linear infinite;
  border-right: 7px solid #a8280b;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  -webkit-animation: rotate-three 1s linear infinite;
          animation: rotate-three 1s linear infinite;
  border-top: 7px solid #efeffa;
}

@-webkit-keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.main__filmList {
  padding: 20px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__filmList {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 60px;
    padding-bottom: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1024px) {
  .main__filmList {
    padding-bottom: 60px;
    padding-top: 60px;
    padding-right: 71px;
    padding-left: 71px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}

.main__filmList .main__movieItem {
  display: block;
  width: 280px;
  border-radius: 5px;
  overflow: hidden;
  height: 445px;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__filmList .main__movieItem {
    width: 294px;
  }
}

@media (min-width: 1024px) {
  .main__filmList .main__movieItem {
    width: 274px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__filmList .main__movieItem .main__previewImgItem {
    -o-object-fit: cover;
       object-fit: cover;
    height: 402px;
  }
}

@media (min-width: 1024px) {
  .main__filmList .main__movieItem .main__previewImgItem {
    -o-object-fit: cover;
       object-fit: cover;
    height: 402px;
  }
}

.main__filmList .main__movieItem:not(:first-child) {
  margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__filmList .main__movieItem:not(:first-child) {
    margin-top: 0px;
  }
}

@media (min-width: 1024px) {
  .main__filmList .main__movieItem:not(:first-child) {
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__filmList .main__movieItem:nth-child(2n) {
    margin-left: 30px;
  }
}

@media (min-width: 1024px) {
  .main__filmList .main__movieItem:nth-child(2n) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__filmList .main__movieItem:nth-child(n + 3) {
    margin-top: 30px;
  }
}

@media (min-width: 1024px) {
  .main__filmList .main__movieItem:nth-child(n + 3) {
    margin-top: 0px;
  }
}

@media (min-width: 1024px) {
  .main__filmList .main__movieItem:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media (min-width: 1024px) {
  .main__filmList .main__movieItem:nth-child(n + 4) {
    margin-top: 30px;
  }
}

.main__filmList .main__previewImgTitle {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
}

/*Background-image styles*/
.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-home-mobile.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-home-mobile.jpg");
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-home-tablet.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-home-tablet.jpg");
  }
}

@media (min-width: 1024px) {
  .header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-home-desktop.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-home-desktop.jpg");
  }
}

.my-library-header {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-library-mobile.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library-mobile.jpg");
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .my-library-header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-library-tablet.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library-tablet.jpg");
  }
}

@media (min-width: 1024px) {
  .my-library-header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-library-desktop.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library-desktop.jpg");
  }
}

/*the end of background-image styles*/
.header-container {
  position: relative;
  padding-top: 46px;
  padding-bottom: 43px;
}

@media screen and (min-width: 767px) {
  .header-container {
    padding-top: 41px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .text-logo {
    display: none;
  }
}

.text-logo {
  margin-left: 12px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.166;
  color: #ffffff;
}

.link-library {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  color: #ffffff;
  background-color: transparent;
  border: 0;
  display: block;
}

.current {
  border-bottom: 3px solid #FF6B09;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header-list-item {
  margin-left: 39px;
}

.link-header {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  color: #ffffff;
}

.search-box {
  margin: 37px auto 0;
  position: relative;
  width: 280px;
}

.search-input {
  background: transparent;
  border: none;
  border-bottom: 0.5px solid #fff;
  outline: none;
  width: 100%;
  color: #ffffff;
}

::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.166;
  color: #ffffff;
}

.icon-search {
  position: absolute;
  right: 0;
}

.error-message {
  margin-top: 22px;
  color: red;
  text-align: left;
  height: 32px;
}

@media screen and (min-width: 768px) {
  .search-box {
    width: 336px;
  }
  .error-message {
    text-align: center;
    height: 16px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text-wrapper {
  text-align: center;
  background-color: #F7F7F7;
  padding: 30px;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-text-wrapper {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (min-width: 1024px) {
  .footer-text-wrapper {
    font-size: 16px;
    line-height: 19px;
  }
}

.footer-copyright,
.footer-creators {
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-copyright,
  .footer-creators {
    display: inline;
  }
}

@media (min-width: 1024px) {
  .footer-copyright,
  .footer-creators {
    display: inline;
  }
}

.footer-creators {
  margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-creators {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .footer-creators {
    margin-top: 0;
  }
}

.footer-text {
  display: inline-block;
  margin-right: 10px;
}

.footer-btn {
  display: inline-block;
  background-color: transparent;
  color: inherit;
  text-decoration: underline;
  padding: 0;
  margin-left: 10px;
}

.footer-btn:hover {
  cursor: pointer;
}

.blocked-scroll {
  overflow: hidden;
}

.details-container {
  z-index: 2;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.details-container.hidden {
  display: none;
}

@media (min-width: 768px) {
  .details-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (min-width: 1024px) {
  .details-container {
    padding-top: 100px;
    padding-bottom: 0px;
  }
}

.details-wrapper {
  width: 280px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .details-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 4px;
  }
}

@media (min-width: 1024px) {
  .details-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.details-information {
  width: 100%;
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .details-information {
    padding: 20px 30px;
    padding-right: 10px;
    padding-left: 5px;
  }
}

@media (min-width: 1024px) {
  .details-information {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.details-img {
  width: 280px;
  height: 416px;
  margin-bottom: 30px;
}

.details-img #js-previewImg {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .details-img {
    border-radius: 5px;
    height: 416px;
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .details-img {
    width: 426px;
    height: 475px;
  }
}

.details-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.details-title-secondary {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;
}

.details-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}

.details-inf-list {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #8c8c8c;
}

@media (min-width: 768px) {
  .details-inf-list {
    font-size: 12px;
  }
}

.details-inf-list:not(:last-child) {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .details-inf-list:not(:last-child) {
    margin-right: 30px;
  }
}

.details-inf-list-secondary {
  color: #000000;
}

.details-text {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 40px;
}

.text-orange {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  background-color: #FF6B09;
  width: 36px;
  height: 16px;
}

.details-button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .details-button-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.details-button {
  width: 100px;
  height: 44px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #000000;
}

@media (min-width: 768px) {
  .details-button {
    width: 136px;
  }
}

.button-watch {
  background-color: #FF6B09;
  border: none;
  color: #F7F7F7;
  margin-right: 10px;
}

.details-inf-list > li {
  margin-bottom: 10px;
}

.details-inf-list > li:last-child {
  margin-bottom: 0;
}

.details-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  padding: 2px;
  fill: #F7F7F7;
}

.button-close {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #FF6B09;
  border-radius: 2px;
}

.my-library {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.library-button {
  color: #ffffff;
  width: 130.19px;
  height: 44px;
  background: rgba(0, 0, 0, 0.56);
  outline: 0px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  text-transform: uppercase;
  margin-right: 18px;
}

.button-active {
  background-color: #FF6B09;
  border: 1px solid #FF6B09;
}

.pagination {
  margin: auto auto 40px;
  max-width: 280px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pagination {
    max-width: 374px;
  }
}

@media (min-width: 1024px) {
  .pagination {
    max-width: 374px;
  }
}

.pagination__ellipsis {
  padding-top: 12px;
  margin: 0 5px;
  font-weight: 500;
  display: none;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pagination__ellipsis {
    display: block;
  }
}

@media (min-width: 1024px) {
  .pagination__ellipsis {
    display: block;
  }
}

.pagination__button {
  padding-top: 12px;
  min-width: 40px;
  height: 40px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  color: #000000;
}

.pagination__button svg {
  pointer-events: none;
}

.pagination__button:first-child, .pagination__button:last-child {
  background-color: #F7F7F7;
  stroke: #000000;
}

.pagination__button:nth-child(5) {
  background-color: #FF6B09;
}

.pagination__button:hover, .pagination__button:focus {
  cursor: pointer;
  background-color: #FF6B09;
}
/*# sourceMappingURL=main.css.map */