.details-container {
  padding-top: 20px;
  padding-bottom: 40px;
  @include for-size(tablet-landscape-up) {
    display: flex;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
.details-information {
  width: 100%;
  position: relative;
}
.details-img {
  width: 280px;
  height: 416px;
  border-radius: 5px;
  background-color: #817070;
  margin-bottom: 30px;

  @include for-size(tablet-landscape-up) {
    width: 294px;
    height: 416px;
    margin-right: 30px;
    margin-bottom: 0;
  }
  @include for-size(desktop) {
    width: 426px;
    height: 514px;
  }
}
.details-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 20px;

  &-secondary {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: $primary-text-color;
    margin-bottom: 10px;
  }
}

.details-inf {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  

  &-list {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8c8c8c;
  }
  &-list:not(:last-child) {
    margin-right: 30px;
  }
}
.details-inf-list-secondary {
  color: $primary-text-color;
}
.details-text {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: $primary-text-color;
  margin-bottom: 40px;
}
.text-orange {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  background-color: $accent-color;
  width: 36px;
  height: 16px;
}
.details-button-list {
  display: flex;
}
.details-button {
  width: 136px;
  height: 44px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  border: 1px solid #000000;
}
.button-watch {
  background-color: $accent-color;
  border: none;
  color: $button-color;
  margin-right: 10px;
}
.details-inf-list > li {
  margin-bottom: 10px;
}
.details-inf-list > li:last-child {
  margin-bottom: 0;
}
.details-close{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 2px;
  fill: $button-color;
}
.button-close{
  position: absolute;
  right: 0;
  top: 0;
  background-color: $accent-color;
  
  border-radius: 2px;
}