.footer {
    width: 100%;
    @include tablet() {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    @include desktop() {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

.footer-text-wrapper {
    text-align: center;
    background-color: $button-color;
    padding: 30px;
    font-size: 14px;
    line-height: 16px;
    @include tablet() {
        font-size: 16px;
        line-height: 19px;
    }
    @include desktop() {
        font-size: 16px;
        line-height: 19px;
    }
}

.footer-copyright,
.footer-creators {
    margin: 0;
    @include tablet() {
        display: inline;
    }
    @include desktop() {
        display: inline;
    }
}

.footer-creators {
    margin-top: 10px;
    @include tablet {
        margin-top: 0;
    }
    @include desktop {
        margin-top: 0;
    }
}

.footer-text {
    display: inline-block;
    margin-right: 10px;
}

.footer-btn {
    display: inline-block;
    background-color: transparent;
    color: inherit;
    text-decoration: underline;
    padding: 0;
    margin-left: 10px;
}

.footer-btn:hover {
    cursor: pointer;
}

