#to-top-button {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 12px;
  right: 12px;
  @media screen and (min-width: 440px) {
    bottom: 30px;
    right: 30px;
  }
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s,
    transform 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#to-top-button::after {
  content: '\f077';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#to-top-button:hover {
  cursor: pointer;
  background-color: #333;
  transform: scale(1.5);
}
#to-top-button:active {
  background-color: #555;
}
#to-top-button.show {
  opacity: 1;
  visibility: visible;
}
