
.details-img {
    width: 280px;
   height: 416px;
   border-radius: 5px;
    @include for-size(tablet-landscape-up) {
      width: 294px;
      height: 416px;
    }
    @include for-size(desktop) {
      width: 1024px;
  
    }
  }

.details-button-list{
    display: flex;

}
.details-button{
    width: 136px;
    height: 44px;
}
.button-watch{
    background-color: $accent-color;
}